@import "./styleLib.css";
@import "./_button.css";
@import "./loading.css";
@import "./error.css" ;



#root{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    
    width: 100%;
    box-shadow: var(--shadow24dp);
    position: relative;


}


#header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    padding: 0.5rem var(--largscale);
    color: var(--onprimary);

}

#header-logo{
    font: var(--headline2);

}

#search-input-con{
    position: relative;
    
    
}

#search-input{
width: 100%;
background-color: transparent;
border: none;
border-bottom:2px solid var(--onprimary) ;
color: var(--onprimary);
padding: 0.3rem 0rem;


}
#search-input:focus{

    
    outline: none;
    
}
    
#search-icon{
    position: absolute;
    right: 0;top: 0;
    fill: var(--onprimary);
    cursor: pointer;
}

#header-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1.6rem var(--largscale) 0.5rem var(--largscale) ;
    background-color: var(--bg);

}

.header-top{
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

.header-btn{
    margin-right: 0.2rem;
    padding: 0rem 1rem;
    color: var(--neutral50); 
    font: var(--headline6);
    cursor: pointer;
}

.header-btn:first-child{
    padding-left: 0;
    
}

.active-btn{
    color: var(--onbg); 
}



#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    width: 100%;
    box-shadow: var(--shadow24dp);
}

#footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem var(--largscale);
    color: var(--onprimary);

}

.footer-btn{
font: var(--subhead1);
color: var(--onprimary);
cursor: pointer;
}

#footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    padding:1.5rem var(--largscale);
    color: var(--onprimary);
}
#footer-bottom>*{
    margin: 0.2rem 0.5rem;
    cursor: pointer;
    fill: var(--onprimary);
}



#main{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding: 1rem var(--largscale);
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 64px;
    grid-row-gap: 32px;
    
    padding-top: 2rem;
}

.movie-card-con{
    /* width: 10rem; */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #1A1B1F;
box-shadow: var(--shadow1dp);

transition: all 0.5s;
cursor: pointer;
}

.movie-card-con:hover{
    box-shadow: var(--shadow24dp);
    transform: scale(1.021);
    transition: all 0.5s;
}

.movie-card-con:hover .movie-card-information-top-title  {

    color: var(--onbg);
    transition: all 0.4s;
}





.movie-card-poster img {
    width: 100%;
    height: auto;
    

}

.movie-card-information{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
color: var(--onsurface);


}
.movie-card-information-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.movie-card-information-top-title{
    font: var(--headline6);
    color: var(--neutral50);

}

.movie-card-information-bottom{

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2rem 0.5rem;
}

.movie-card-information-bottom-year{
    font: var(--subhead1);
    color: var(--neutral50);
}

.movie-card-information-bottom-rate{
    font: var(--subhead1);
    color: var(--neutral50);
}


/* information Card */


#main-info{

    width: 100%;
    padding: 1rem var(--largscale);
    padding-top: 2rem;

}

.movie-information-con{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'poster info info ';
    justify-content: space-between;


    

}

.movie-information-poster{
    grid-area: "poster";
}

.movie-information-poster img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-information-infos{
    width: 100%;
    grid-area: "info";
    color: var(--onbg);
    padding-left: 2rem;
    height: 100%;

    

}

.movie-information-infos>*{
    margin-bottom: 0.7rem;
}

.movie-information-infos-title{
    font: var(--headline3)  ;
    margin-bottom: 0.2rem;
}

.movie-information-infos-year{
    font: var(--headline7)  ;
    margin-bottom: 0.8rem;
}

.movie-information-infos-content-con{
    max-height: 100%;
    
text-overflow: ellipsis;
word-wrap: break-word;

}


.movie-information-infos-content{
font: var(--body1);
letter-spacing: var(--letterbody1);
/* overflow: hidden;
text-overflow: ellipsis;
word-wrap: break-word; */


}

.movie-info-btn{

}

.movie-info-btn-text{
    color: var(--tertiary);
    padding: 0rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.movie-information-infos-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem 0rem;
}


@media only screen and (max-width: 1000px) {
    #header-top{

        padding: 0.5rem var(--mediumscale);

    }
    #header-bottom{

        padding: 1.5rem var(--mediumscale) 0.5rem var(--mediumscale) ;

    }


    .header-btn{
 
        font-size: 16px;

    }



    #footer-top{
        padding: 1rem var(--mediumscale);
    }


#footer-bottom{

    padding:1.5rem var(--mediumscale);

}

    #header-logo{
        font: var(--headline3);
    
    }


    #main{
        padding: 1rem var(--mediumscale);
        grid-column-gap: 32px;
        padding-top: 2rem;
    }
    


    
    .movie-card-information-top-title{
        font: var(--headline7);
        color: var(--neutral50);
    
    }

    
    .movie-card-information-bottom-year{
        font: var(--subhead2);
        color: var(--neutral50);
    }
    
    .movie-card-information-bottom-rate{
        font: var(--subhead2);
        color: var(--neutral50);
    }
    
    #main-info{
        padding: 1rem var(--mediumscale);
        padding-top: 2rem;
    }


    .movie-information-infos-title{
        font: var(--headline4)  ;
        margin-bottom: 0.2rem;
    }
    
    .movie-information-infos-year{
        font: var(--headline8)  ;
        margin-bottom: 0.8rem;
    }
    
    .movie-information-infos-content-con{
        height: 50%;
        overflow: hidden;
    }
    
    
    .movie-information-infos-content{
    font: var(--body2);
    letter-spacing: var(--letterbody1);
    
    }



}

@media only screen and (max-width: 750px) {
    #header-top{

        padding: 0.5rem var(--mediumscale);

    }
    #header-bottom{

        padding: 1.5rem var(--mediumscale) 0.5rem var(--mediumscale) ;

    }

    .header-btn{
 
        font-size: 14px;

    }

    #footer-top{
        padding: 1rem var(--mediumscale);
    }


#footer-bottom{

    padding:1.5rem var(--mediumscale);

}
    #header-logo{
        font: var(--headline4);
    
    }


#main{

    grid-template-columns: auto auto ;
    grid-column-gap: 32px;
    

}








.movie-card-information-top-title{
    font: var(--headline7);
    color: var(--neutral50);

}
    
.movie-card-information-bottom-year{
    font: var(--subhead2);
    color: var(--neutral50);
}

.movie-card-information-bottom-rate{
    font: var(--subhead2);
    color: var(--neutral50);
}


.movie-information-con{

    display: flex;
    flex-direction: column;

}



.movie-information-infos{

    padding-left: 0rem;


    

}

/* .movie-information-infos>*{
    margin-bottom: 0.7rem;
} */

.movie-information-infos-title{
    font: var(--headline4)  ;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.movie-information-infos-year{
    font: var(--headline8)  ;
    margin-bottom: 0.8rem;
}



.movie-information-infos-content{
font: var(--body2);
letter-spacing: var(--letterbody1);

}

.movie-info-btn{

}




}



@media only screen and (max-width: 550px) {
    #header-top{

        padding: 0.5rem var(--smallscale);

    }
    #header-bottom{

        padding: 1.5rem var(--smallscale) 0.5rem var(--smallscale) ;

    }
    .header-btn{
        margin-right: 0;
        padding: 0rem 0.5rem;
        font-size: 12px;

    }


    #footer-top{
        padding: 1rem var(--smallscale);
        
        flex-wrap: wrap;
    }


#footer-bottom{

    
    padding:1.5rem var(--smallscale);
    
    flex-wrap: wrap;
}

.footer-btn{
    font: var(--subhead2);
padding: 0.5rem;
    }
    


    #header-logo{
        font: var(--headline6);
    
    }
    #search-input-con{
        width: 50%;
        
        
    }

    #main{
        
        grid-template-columns: auto auto ;
        grid-column-gap: 16px;
        padding: 1rem var(--smallscale);
        padding-top: 2rem;
    }
    
    


.movie-card-information-top-title{
    font: var(--headline8);
    color: var(--neutral50);

}
    
.movie-card-information-bottom-year{
    font: var(--subhead3);
    color: var(--neutral50);
}

.movie-card-information-bottom-rate{
    font: var(--subhead3);
    color: var(--neutral50);
}



#main-info{
    padding: 1rem var(--smallscale);
    padding-top: 2rem;
}
    

}